body{
  font-family: sans-serif;
  color: #333;
}
h1,h2,h3{
  color: #1098ad;
}
h2,h3{
  font-size: 25px;
  text-transform: uppercase;
}
.product-title{
  text-align: center;
  background-color: #d3d3d3;

}
article{
  border: 4px solid black;
}
.product-price{
  font-size: 20px;
}
a:link,
a:visited{
  color: #1098ad;
}
a:hover,
a:active{
  text-decoration: none;
}
li{
  list-style: square;
}
button{
  background-color: black;
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}
button:hover{
  background-color: transparent;
  color: inherit;
}