.container-1 {
	display: grid;
	background-color: #666;
	/* grid-template-columns: 200px 450px 100px 100px; */
  /* grid-template-rows: 100px 60px; */
   /* With fr  */
  /* grid-template-columns: 200px 450px 1fr auto; */
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr 2fr;
  gap: 20px;
  row-gap: 40px;
}
.el {
	font-size: 32px;
}
.el-1 {
	background-color: blueviolet;
}
.el-2 {
	background-color: orangered;
}
.el-3 {
	background-color: green;
}
.el-4 {
	background-color: goldenrod;
}
.el-5 {
	background-color: crimson;
}
.el-6 {
	background-color: palevioletred;
}
.el-7 {
	background-color: steelblue;
}
.el-8 {
	background-color: yellow;
}
