/*  combiner selector */
h1,
h2,
h3,
h4,
p,
li {
	font-family: sans-serif;
}
h1,
h2,
h3 {
	color: #1098ad;
}
h1 {
	text-transform: uppercase;
	font-size: 26px;
	font-style: italic;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 25px;
}
p {
	font-size: 18px;
	line-height: 1.3;
}
li {
	font-size: 17px;
}

/* Decendant seclector */
/* article header p{ */
/* font-style: italic; */
/* } */

/* ID selector */
#author {
	font-style: italic;
	font-size: 17px;
}
#copyright {
	font-size: 15px;
}

/* class selector */
.related-author {
	font-weight: bold;
}

.related {
	list-style: none;
}

.main-header,
.related-posts {
	background-color: #f7f7f7;
}
.related-posts{
	border-top: 5px solid #1098ad;
	border-bottom: 5px solid #1098ad;
}

/* pseodu selector */
li:first-child{
	font-weight: bold;
}
li:last-child{
	font-style: italic;
}

li:nth-child(even){
	color: red;
}
article p:last-child{
	color: orangered;
}