*{
	margin: 0;
	padding: 0;
}
body{
	color: #333;
	font-family: sans-serif;
}
article{
	margin-bottom: 40px;
}
article header{
	margin: 40px 0;
}
/*  combiner selector */
h1,
h2,
h3 {
	color: #1098ad;
}
h1 {
	text-transform: uppercase;
	font-size: 26px;
	font-style: italic;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 30px;
	margin: 30px 0 5px 0;
}
h4 {
	font-size: 25px;
}
p {
	font-size: 18px;
	line-height: 1.3;
  padding: 5px;
}
li {
	font-size: 17px;
	margin-bottom: 10px;
}
li:last-child{
	margin-bottom: 0;
}

ul,ol{
	padding-left: 50px;
}
/* Decendant seclector */
/* article header p{ */
/* font-style: italic; */
/* } */

/* ID selector */
#author {
	font-style: italic;
	font-size: 17px;
	margin-bottom: 20px;
}
#copyright {
	font-size: 15px;
}

/* class selector */
.related-author {
	font-weight: bold;
}

.related {
	list-style: none;
}

.main-header,
.related-posts {
	background-color: #f7f7f7;
}
.main-header{
	padding: 40px;
}
.main-title{
	margin-bottom: 20px;
}
.related-posts{
	border-top: 5px solid #1098ad;
	border-bottom: 5px solid #1098ad;
	margin-top: 40px;
}

.related-post--heading{
	padding: 50px 0 50px 50px;
}
/* pseodu selector */
li:first-child{
	font-weight: bold;
}
li:last-child{
	font-style: italic;
}

li:nth-child(even){
	color: red;
}

/* Misconception - will not work it should be direct child */
article p:fist-child{
	color: orangered;
}

/* Anchor link */
a:link{
	text-decoration: none;
}
a:visited{
	color: #1098ad;
}
a:hover{
	text-decoration: underline dashed orangered;
}
a:active{
	color: #1098ad;
}
.secondary-title{
	margin-bottom: 20px;
}