<!DOCTYPE html>
<html>
	<head>
		<title>Layout Challenge with Float</title>
		<link rel="stylesheet" href="../css/flex-challenge.css" />
	</head>
	<body>
		<h2>Layout Challenge with Flexbox</h2>
		<a href="../index.html">Home</a>
		<article>
			<h3 class="product-title">Converse Chuck Taylor All star Low Top</h3>
			<div class="row">
				<div class="left-container">
					<img src="../img/challenges.jpg" alt="shoe" width="250px" height="250px" />
				</div>
				<div class="middle-container">
					<div class="product-info">
						<p class="product-price">
							<strong>$64.00</strong>
						</p>
						<p><em>Free shipping</em></p>
					</div>

					<p>
						Ready to dress up or down, these classic canvas Chuck are an everyday wardore
						staple
					</p>
					<a href="#">More information &rarr;</a>
					<div class="available-colors">
						<div class="product-color p1">&nbsp;</div>
						<div class="product-color p2">&nbsp;</div>
						<div class="product-color p3">&nbsp;</div>
						<div class="product-color p4">&nbsp;</div>
						<div class="product-color p5">&nbsp;</div>
						<div class="product-color p6">&nbsp;</div>
					</div>
				</div>
				<div class="right-container">
					<h3 class="product-detail">Product Details</h3>
					<ul>
						<li>Lightweight, durable canvas sneaker</li>
						<li>Lightly padded footbed for added confort</li>
						<li>Iconic Chuck Taylor ankle patch</li>
					</ul>
				</div>
			</div>
			<button class="add-to-cart">Add to Cart</button>
		</article>
	</body>
</html>
